@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
    --padding-container: 100px 0;
    --color-logo: #7ed957;
}
    

body{
    font-family: 'Poppins', sans-serif;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.cabecera{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.cabecera::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/imagenPrincipal.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo{
    padding: 0;
}

.nav__logo--images{
    height: 80px;
    cursor: pointer;
    list-style: none;
}

.nav__logo--images img{
    height: 100%;
    transition: all 0.3s;
}

.nav__logo--images img:hover{
    transform: scale(1.2);
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    padding-right: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
    transition: all 0.3s;
}

.nav__items:hover{
    transform: scale(1.2);
}

.nav__links{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav__links:hover{
    color: var(--color-logo);
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show,none);
}


/*Esta es la parte siguiente del main*/

.first__section{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.first__section--title{
    font-size: 3rem;
}

.first__section--paragraph{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.first__section--contactar{
    display: inline-block;
    background-color: #fff;
    justify-self: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transition: all 0.3s;
}

.first__section--contactar:hover{
    transform: scale(1.2);
}

.second__section{
    width: 100%;
    padding: 0;
    margin: 0;
}

.second__section--article1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.second__section--article2{
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.second__section--imagen1{
    overflow: hidden;
}

.second__section--imagen2{
    width: 100%;
    height: 100%;
}
.second__section--imagen3{
    width: 100%;
    height: 100%;
}
.second__section--imagen4{
    width: 100%;
}

.third__section{
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 100%;
    height: 50vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.third__section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/music3.jpg');
    background-size: cover;
    z-index: -1;
}

.third__section--primero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.third__section--primero h1{
    font-size: 60px;
    text-align: center;
}

.third__section--primero p{
    font-weight: bold;
    font-size: 20px;
}

.third__section--redes img{
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.third__section--redes img:hover{
    transform: scale(1.4);
    filter: invert(25%) sepia(52%) saturate(490%) hue-rotate(56deg) brightness(100%) contrast(86%);
}

.third__section--segundo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.third__section--segundo h2{
    font-size: 30px;
    margin-top: 20%;
}

.third__section--segundo img{
    width: 80px;
    margin-bottom: 25%;
    transition: all 0.3s;
    cursor: pointer;
}

.third__section--segundo img:hover{
    transform: scale(1.4);
    filter: invert(25%) sepia(52%) saturate(490%) hue-rotate(56deg) brightness(100%) contrast(86%);
}